.address-container {
  background-color: #2A9D8F;
  color: white;
}

.address-bar {
  list-style-type: none;
}

.address-bar ul {
  list-style-type: none;
}

.social-icons {
  color: #2A9D8F;
  width: 150px;
}
